* {
  box-sizing: border-box;
}

main.main {
  .our-courses {

    padding-bottom: 90px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 110px;
    }

    &__title {
      margin-top: 110px;
      color: $primary-color;
      font-size: 3.375rem;
      line-height: 59.4px;
    }

    .courses {

      display: flex;
      flex-direction: column;

      .buttons-box {

        display: flex;
        gap: 25px;
        align-items: center;

        &__button {
          font-size: 1.5rem;
          line-height: 26.4px;
          text-align: center;
          color: $primary-color;
          border: 1px solid $primary-color;
          border-radius: 200px;
          padding: 16px 34px;
          background: transparent;
        }
      }

      .courses-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;

        .courses-list-card {
          display: flex;
          border-radius: 50px;
          border: 1px solid $primary-color;
          gap: 80px;

          &:nth-child(2n) .courses-list-card-left-side{
            background: $blue-color;
          }

          .courses-list-card-left-side {
            max-width: 556px;
            width: 100%;
            padding: 50px 150px 50px 50px;
            background: $primary-color;
            border-radius: 50px;


            &__number {
              font-size: 2.75rem;
              line-height: 48.4px;
              color: $secondary-color;
              font-weight: 400;
            }

            &__title {
              font-size: 3.375rem;
              line-height: 59.4px;
              font-weight: 700;
              color: $secondary-color;
              margin-top: 50px;
            }

            &__text {
              font-size: 1.5rem;
              line-height: 33.6px;
              color: $secondary-color;
              margin-top: 15px;
            }

            &__price {
              font-size: 2.75rem;
              line-height: 48.4px;
              color: $secondary-color;
              font-weight: 500;
              margin-top: 50px;
            }

            &__button {
              background: $secondary-color;
              color: $primary-color;
              padding: 15px 35px;
              font-size: 1.125rem;
              line-height: 19.8px;
              text-align: center;
              transition: 0.6s all;
              margin-top: 65px;
              border-radius: 300px;
              border: 1px solid $primary-color;
            }

          }

          .courses-list-card-right-side {
            padding: 116px 50px 67px 0;

            &__text {
              max-width: 537px;
              width: 100%;
              font-size: 1.5rem;
              line-height: 34px;
              color: $primary-color;
            }
          }
        }
      }

      .courses-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        .pagination-buttons {
          display: flex;
          gap: 30px;

          &__button {
            padding: 15.88px 12.5px 16.12px 12px;
            border-radius: 100px;
            border: 1px solid $primary-color;
            background: transparent;

            &.disabled {
              opacity: 50%;
            }
          }

          &__button_prev {
            img {
              transform: rotate(180deg);
            }
          }

          .pagination-numbers {
            display: flex;
            gap: 10px;
            align-items: center;

            &__item {
              font-size: 1.125rem;
              line-height: 19.8px;
              color: rgba(25, 26, 26, 0.5);
              padding: 3px 0;

              &.active {
                color: $primary-color;
                font-size: 1.5rem;
                line-height: 26.4px;
                font-weight: 600;
                padding: 0;
              }
            }

          }
        }

      }
    }
  }
}