header.header-event {

  background: $primary-color;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .top-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .bottom-header {
      display: flex;
      align-self: start;
      padding: 15px 0;
      gap: 10px;
      font-weight: 300;

      .breadcrumbs {
        font-size: 1.112rem;
        line-height: 19.8px;
      }

      &__course {
        color: $secondary-color;
      }

      &__page {
        color: rgba(255, 252, 248, 0.5);
        transition: 0.25s all;

        &:hover {
          color: rgba(255, 252, 248, 1);
        }
      }
    }
  }

}

main.main {

  .hero-section-event {
    padding: 90px 0;

    img {
      max-width: 600px;
      max-height: 412px;
      height: 100%;
      width: 100%;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 186px;
    }

    .hero-section-info {
      color: $primary-color;

      &__date {
        display: flex;
        gap: 20px;
        font-size: 2rem;
        line-height: 35.2px;
      }

      &__title {
        margin-top: 35px;
        font-size: 3.375rem;
        line-height: 59.4px;
        font-weight: 700;
      }

      &__text {
        margin-top: 35px;
        font-size: 1.5rem;
        line-height: 33.6px;
      }

      &__button {
        margin-top: 40px;
        background: transparent;
        color: $primary-color;
        padding: 15px 35px;
        font-size: 1.125rem;
        line-height: 19.8px;
        text-align: center;
        transition: 0.25s all;
        border-radius: 300px;
        border: 1px solid $primary-color;

        &:hover {
          background: $blue-color;
          color: $secondary-color;
          border-color: $blue-color;
        }

        &.disabled {
          opacity: 40%;
        }
      }

    }


  }

  .about-us-section-event {

    .container {
      gap: 58px;

      .about-us-img {
        max-width: 600px;
        width: 100%;
        max-height: 412px;
        height: 100%;
      }

      .about-us-info {
        &__title {
          text-transform: uppercase;
        }
      }
    }
  }

  .questions-event {
    padding: 90px 0;
    background: $secondary-color;

    .questions-title {
      color: $primary-color;
    }

    .container {

      .questions-box {
        .questions-box-item {
          border: 1px solid $primary-color;

          .item-question-container {
            display: flex;
            gap: 20px;

            &__number {
              font-size: 2rem;
              line-height: 35.2px;
              color: $primary-color;
            }

            &__question {
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 35.2px;
              font-weight: 600;
              color: $primary-color;
            }

          }

          &:hover {
            background: $blue-color;
            border-color: $blue-color;
          }

          &:hover button {
            background: $secondary-color;
          }

          &:hover button img {
            filter: brightness(0) saturate(100%) invert(5%) sepia(5%) saturate(466%) hue-rotate(131deg) brightness(97%) contrast(88%);
          }

          &:hover .item-question-container .item-question, &:hover .item-question-container .item-number {
            color: $secondary-color;
          }


          &.active:hover {
            background: transparent;
            border-color: $primary-color;
          }

          &.active:hover .item-question-container .item-question, &.active:hover .item-question-container .item-number {
            color: $primary-color;
          }

          &.active:hover button {
            background: $primary-color;
          }


          &.active:hover button img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(59%) saturate(275%) hue-rotate(11deg) brightness(109%) contrast(101%);
          }

          &__answer {
            color: $primary-color;

            ul {
              counter-reset: question-counter;
              margin: 0;
              list-style: none;
              padding: 0;

              li {
                font-size: 1.5rem;
                line-height: 33.6px;
                counter-increment: question-counter;
                margin: 5px 0;

                &:before {
                  content: "ПИТАННЯ " counter(question-counter) ". ";
                }
              }
            }

          }

          &__button {
            background: $primary-color;
            border: 1px solid transparent;

            img {
              filter: brightness(0) saturate(100%) invert(100%) sepia(59%) saturate(275%) hue-rotate(11deg) brightness(109%) contrast(101%);
            }
          }
        }
      }
    }
  }

  .location {
    padding: 90px 0;

    &__img {
      max-width: 600px;
      max-height: 412px;
      width: 100%;
      height: 100%;
      border-radius: 50px;
    }

    .container {
      display: flex;
      justify-content: space-between;
      gap: 156px;
    }

    .location-info {
      display: flex;
      flex-direction: column;
      gap: 30px;


      &__title {
        font-size: 2.75rem;
        line-height: 48.4px;
        font-weight: 700;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 33.6px;
      }

      &__address {
        font-size: 1.5rem;
        line-height: 33.6px;
        font-weight: 600;
        margin-top: 30px;
      }
    }

  }

  .reservation-event {
    background-color: $primary-color;

    &__text {
      color: $secondary-color;
      span {
        color: $red-color;
      }
    }

    &__title{
      color: $secondary-color;
    }

    &__button {
      a {
        color: $secondary-color;
      }
      border-color: $secondary-color;

    }

    .container {

    }
  }

  .contact-us-event {

    background: $primary-color;

    .container {

      .contacts-left-side {
        color: $secondary-color;
        max-width: 404px;
      }

      .contacts-right-side {
        border-color: $secondary-color;
        background: $secondary-color;

        .contacts-form {

        }

      }
    }

  }
}

@media (max-width: 1280px) {
  main.main {

  }
}

@media (max-width: 1200px) {
  main.main {
    .hero-section-event {
      .container {
        gap: 32px;
      }
    }

    .expertise {

      &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .expertise-info {
          gap: 15px;
          .expertise-info-list {
            gap: 10px;
            max-width: 650px;

            &__list {
              max-width: 650px;
            }
          }
        }
      }

    }

    .location {

      &__img {
        order: 2;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .location-info {
          order: 1;
          gap: 15px;
          max-width: 100%;

          &__text {
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {

  main.main {
    .hero-section-event {

      padding: 60px 0;

      .container {
        flex-direction: column;
        align-items: start;
        gap: 50px;

        .hero-section-info {
          max-width: 100%;
          width: 100%;
        }

        img {
          max-width: 100%;
          max-height: 350px;
          object-fit: cover;
          border-radius: 50px;
        }
      }
    }
  }
}

@media (max-width: 740px) {

}

@media (max-width: 768px) {

  .container {

  }


  main.main {
    .hero-section-event {
      .container {
        img {
          border-radius: 50px;
          max-height: 350px;
          object-fit: cover;
        }
      }
    }

    .questions-event {
      padding: 60px 0;
      .container {
        .questions-box {
          .questions-box-item {
            padding-right: 100px;

            &__button {
              top: 25%;
            }

            &.active .button {
              bottom: 15px;
            }

            .item-question-container {

              &__number {
                white-space: nowrap;
              }

              &__question {
                width: 95%;
              }
            }
          }
        }
      }
    }

    .location {
      padding: 60px 0;

      &__img {
        max-height: 350px;
      }

      .container {

        .location-info {

          &__text {
          }
        }
      }
    }


  }

}

@media (max-width: 680px) {


  main.main {
    .hero-section-event {
      padding: 40px 0;
      .container {
        gap: 30px;

        .hero-section-info {
          max-width: 100%;

          &__date {
            font-size: 1.125rem;
            line-height: 110%;
          }

          &__title {
            font-size: 2.25rem;
            line-height: 110%;
            margin-top: 15px;
          }

          &__text {
            font-size: 0.875rem;
            line-height: 140%;
            margin-top: 15px;
          }

          &__button {
            margin-top: 30px;
            width: 100%;
          }
        }

        img {
          border-radius: 20px;
          max-height: 200px;
        }
      }
    }

    .about-us-section-event {

      .container {
        gap: 30px;
      }
    }

    .reservation-event {
      &__text {
        span {
          font-size: 2.75rem;
          line-height: 110%;
        }
      }
    }
  }

}

@media (max-width: 600px) {


  main.main {
    .hero-section-event {
      padding: 40px 0;
      .container {
        gap: 30px;

        .hero-section-info {
          max-width: 100%;

          &__date {
            font-size: 1.125rem;
            line-height: 110%;
          }

          &__title {
            font-size: 2.25rem;
            line-height: 110%;
            margin-top: 15px;
          }

          &__text {
            font-size: 0.875rem;
            line-height: 140%;
            margin-top: 15px;
          }

          &__button {
            margin-top: 30px;
            width: 100%;
          }
        }

        img {
          border-radius: 20px;
          max-height: 200px;
        }
      }
    }

    .about-us-section-event {

      .container {
        gap: 30px;
      }
    }

    .questions-event {
      .container {
        .questions-box {
          .questions-box-item {
            padding: 10px 20px ;
            .item-question-container {
              align-items: center;
              &__number {
                text-align: center;
                white-space: unset;
                font-size: 1.125rem;
                line-height: 110%;
              }

              &__question {
                width: 100%;
                font-size: 1.125rem;
                line-height: 110%;
              }
            }

            &__answer {
              .questions-box-item-list {
                .questions-box-item-list-element {
                  font-size: 0.875rem;
                  line-height: 140%;
                }
              }
            }
          }
        }
      }
    }

    .reservation-event {

      &__text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        span {
          font-size: 2.25rem;
          line-height: 110%;
        }
      }
    }

    .location {
      padding: 40px 0;

      &__img {
        max-height: 200px;
        border-radius: 20px;
      }

      .container {
        gap: 30px;

        .location-info {

          &__title {
            font-size: 1.5rem;
            line-height: 110%;
          }

          &__text {
            font-size: 0.875rem;
            line-height: 140%;
          }

          &__address {
            margin-top: 10px;
            font-size: 0.875rem;
            line-height: 140%;
          }
        }
      }
    }
  }

}

@media (max-width: 414px) {

  .container {

  }


  main.main {

  }
}

@media (max-width: 360px) {

  .container {
  }

  main.main {

  }

}