@font-face {
  font-family: "Proba Pro";
  src:
    url("../fonts/ProbaPro/probapro.css") format("css"),
    url("../fonts/Probapro/Probaproitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
