@font-face {
  font-family: 'MyFont';
  src: url('../fonts/ProbaPro/probapro.css') format('css'),
  url('../fonts/Probapro/Probaproitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}