main.main {

  .hero-section {
    padding: 90px 0;
    background: $primary-color;

    &__hidden-content {
      opacity: 0;
      width: 100%;
    }

    .container {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      gap: 16px;
    }


    .left-side {
      max-width: 725px;
      width: 100%;

      &__title {
        font-size: 3.2rem;
        line-height: 59.4px;
        font-weight: 700;
        color: $secondary-color;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 33.6px;
        color: $secondary-color;
        margin-top: 25px;
      }

      &__button {
        background: transparent;
        color: $secondary-color;
        padding: 15px 35px;
        font-size: 1.125rem;
        line-height: 19.8px;
        text-align: center;
        transition: 0.25s all;
        margin-top: 55px;
        border-radius: 300px;
        border: 1px solid $secondary-color;

        &:hover {
          background: $secondary-color;
          color: $primary-color;
        }

        &.disabled {
          opacity: 40%;
        }
      }

      .left-side-social-links {
        display: flex;
        gap: 10px;
        margin-top: 40px;

        &__item {
          display: block;
        }
      }
    }

    .right-side {
      img {
        max-width: 445.69px;
      }
    }
  }

  .events {
    padding: 90px 0;

    .container {
      display: flex;
      justify-content: space-between;
      gap: 76px;
    }

    .swiper {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 680px;

      .swiper-wrapper {
        max-width: 680px;
        width: 100%;

        .swiper-slide {
          border: 1px solid $primary-color;
          border-radius: 50px;
          justify-content: space-between;
          gap: 120px;
          display: flex;
          align-items: center;
          overflow: hidden;

          .card-info {
            padding: 39.74px 0 39.74px 50px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
            max-width: 250px;
            width: 100%;

            &__title {
              font-size: 3.375rem;
              font-weight: 700;
              line-height: 59.4px;
              color: $primary-color;
              margin-top: 48px;
            }

            &__text {
              font-size: 1.5rem;
              line-height: 33.6px;
              color: $primary-color;
              margin-top: 14px;
            }

            &__button {
              background: transparent;
              padding: 15px 35px;
              font-size: 1.125rem;
              line-height: 19.8px;
              text-align: center;
              transition: 0.25s all;
              margin-top: 49px;
              border-radius: 300px;
              border: 1px solid $primary-color;

              a {
                transition: 0.25s all;
                color: $primary-color;
              }

              &:hover a {
                color: $secondary-color;
              }

              &:hover {
                background: $blue-color;
                border-color: $blue-color;
                color: $secondary-color;
              }

              &.disabled {
                opacity: 40%;
              }
            }
          }

          .card-poster {
            object-fit: cover;
            height: calc(100% + 2px);


            .card-poster-img {
              border-radius: 50px;
              max-width: 310px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .card-poster-img-adaptive {
              display: none;
            }
          }
        }
      }

      .slider-pagination {
        margin-top: 30px;

        .swiper-pagination-buttons {
          display: flex;
          gap: 17.06px;

          &__button {
            padding: 12.27px 9.27px 12.46px 9.66px;
            border-radius: 100px;
            border: 1px solid $primary-color;
            background: transparent;
            transition: 0.25s all;

            .button-arrow-icon {
              transition: 0.25s all;
            }

            &:hover {
              background: $blue-color;
              border-color: $blue-color;
            }

            &:hover .button-arrow-icon {
              filter: brightness(0) saturate(100%) invert(100%) sepia(59%) saturate(275%) hue-rotate(11deg) brightness(109%) contrast(101%);
            }

            &.disabled {
              opacity: 50%;
            }
          }

          &__button_prev {
            img {
              transform: rotate(180deg);
            }
          }

          .pagination-dots {
            display: flex;
            gap: 10px;
            align-items: center;

            &__item {
              width: 4px;
              height: 4px;
              border-radius: 100px;
              background: $primary-color;
              opacity: 40%;

              &.active {
                color: $primary-color;
                transform: scale(2);
                opacity: 100%;
              }
            }

          }
        }
      }
    }

    .event-info {
      max-width: 484px;
      width: 100%;
      display: flex;
      gap: 30px;
      flex-direction: column;
      color: $primary-color;

      &__title {
        font-size: 2.75rem;
        line-height: 44.8px;
        font-weight: 700;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 33.6px;
      }
    }


  }

  .courses-home {
    .courses {
      .courses-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;

        .courses-list-card {
          display: flex;
          border-radius: 50px;
          border: 1px solid $primary-color;
          gap: 80px;

          .courses-list-card-left-side {

            &__button {

              a {
                transition: 0.25s all;
                color: $secondary-color;
              }

              &:hover a {
                color: $primary-color;
              }

            }

          }

          &:nth-child(1n) .courses-list-card-left-side {
            background: $blue-color;
          }

          &:nth-child(2n) .courses-list-card-left-side {
            background: $orange-color;
          }

          &:nth-child(3n) .courses-list-card-left-side {
            background: $red-color;
          }
        }
      }

      &__more-text {
        margin-top: 60px;
        cursor: pointer;
        font-weight: 500;
        align-self: center;
        font-size: 1.5rem;
        line-height: 33.6px;
        color: $primary-color;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 4px;
          text-underline: 1px solid $primary-color;
          text-decoration-skip-ink: none;
        }

        &.disabled {
          opacity: 40%;
        }
      }
    }
  }

  .stairs {
    position: relative;
    width: 100%;
    height: 814px;
    overflow: hidden;

    .container {
      position: relative;
    }

    .stairs-content {
      position: relative;
      display: grid;
      z-index: 1;

      .grid {
        top: 80px;
        display: grid;
        position: absolute;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        z-index: 100;

        .grid-item {
          display: flex;
          flex-direction: column;
          gap: 30px;
          max-width: 645px;
          width: 100%;
          color: $primary-color;

          &__title {
            font-size: 2.75rem;
            line-height: 110%;
            font-weight: 700;
          }

          &__text {
            font-size: 1.5rem;
            line-height: 140%;
          }

          .grid-item-list {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            gap: 10px;


            &__item {
              font-size: 1.5rem;

              &::marker {
                font-size: 1rem;
              }

            }

          }

          &:nth-child(2) {
            max-width: 10px;
          }

        }

        .grid-item-second {
          color: $secondary-color;
          max-width: 482px;
          width: 100%;
          margin-top: 20px;
          margin-left: 150px;
        }
      }

      .steps {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 814px;
        z-index: 0;

        .step {
          position: absolute;
          background-color: $primary-color;
          height: 0;
          width: 100vw;
        }

        .step-1 {
          left: -207.5px;
          top: calc(100% - 42px);
          height: 6.26%;
        }

        .step-2 {
          left: 8.47%;
          top: calc(100% - 18.78%);
          height: calc(14.74% + 6.26%);
        }

        .step-3 {
          left: calc(8.47% * 3);
          top: calc(100% - 35.74%);
          height: 35.74%;
        }

        .step-4 {
          left: calc(8.47% * 5);
          top: calc(100% - 50.48%);
          height: 50.48%;
        }

        .step-5 {
          left: calc(8.47% * 7);
          top: calc(100% - 65.22%);
          height: 65.22%;
        }

        .step-6 {
          left: calc(8.47% * 9);
          top: calc(100% - 79.96%);
          height: 79.96%;
        }

        .step-7 {
          left: calc(8.47% * 11);
          top: calc(100% - 94.7%);
          height: 94.7%;
        }
      }
    }
  }

}


@media (max-width: 1320px) {
  main.main {

    .stairs {
      .container {

      }
      .stairs-content {
        .grid {
          gap: 10px;
          .grid-item {
            &__title {
            }
            &__text {
            }
            .grid-item-list {
              &__item {

              }
            }
          }

          .grid-item-second {

            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  main.main {

    .events {

      padding: 60px 0;

      .container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        .swiper {
          order: 2;
          max-width: 680px;
        }

        .event-info {
          max-width: 100%;
          order: -1;
          text-align: center;
        }
      }
    }

  }
}

@media (max-width: 1200px) {
  main.main {

  }
}

@media (max-width: 1024px) {

  main.main {

    .hero-section {
      overflow: hidden;
      padding: 60px 0;

      .container {
        justify-content: start;
        gap: 40px;
        .left-side {

          &__title {
            line-height: 110%;
          }

          &__text {
            margin-top: 15px;
          }

          &__button {
            margin-top: 30px;
          }
        }
      }
    }

    .conditions {
      .conditions-box {
        grid-template-columns: 1fr;
        place-items: center;
        padding: 0 32px;

        .conditions-box-item {
          width: 100%;

          .item-header-container {
            &__number {
              font-size: 2.75rem;
              line-height: 48.4px;
            }

            &__title {
              font-size: 2.75rem;
              line-height: 48.4px;
            }
          }

          &__text {
            font-size: 2rem;
            line-height: 35.2px;
          }
        }
      }
    }

    .newsletter {
      .container {
        align-items: center;
        justify-content: center;
      }

      .newsletter-box {
        gap: 30px;
        text-align: center;
        flex-direction: column;
      }
    }

    .stairs {
      height: 935px;
      .container {

      }
      .stairs-content {
        .grid {
          top: 70px;
          grid-template-rows: auto auto;
          .grid-item {
            &__title {
            }
            &__text {
            }
            .grid-item-list {
              &__item {

              }
            }
          }

          .grid-item-second {
            margin-top: 80px;
            grid-column: 2;
          }

          .top-right {
            max-width: 550px;
            grid-column: 2;
          }

          .top-left {
            grid-column: span 2;
          }
        }

        .steps {
          height: 935px;

          .step {

          }

          .step-1 {
            left: -109px;
            top: calc(100% - 35.47%);
            height: 35.47%;
          }

          .step-2 {
            left: 9.38%;
            top: 58.64%;
            height: calc(14.74% + 6.26%);
          }

          .step-3 {
            left: calc(9.38% + 14.20%);
            top: 52.75%;
            height: 35.74%;
          }

          .step-4 {
            left: calc(23.58% + 14.20%);
            top: 46.86%;
            height: 50.48%;
          }

          .step-5 {
            left: calc(37.78% + 14.20%);
            top: 40.97%;
            height: 65.22%;
          }

          .step-6 {
            left: calc(51.98% + 14.20%);
            top: 35.08%;
            height: 79.96%;
          }

          .step-7 {
            left: calc(66.18% + 14.20%);
            top: 29.19%;
            height: 94.7%;
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  main.main {

    .stairs {
      .container {

      }

      .stairs-content {
        .grid {
          top: 40px;
          .grid-item {
            &__title {
            }

            &__text {
            }

            .grid-item-list {
              &__item {

              }
            }
          }

          .grid-item-second {
            margin-top: 80px;
            grid-column: 2;
          }

          .top-right {
            grid-column: 2;
          }

          .top-left {
            grid-column: span 2;
            max-width: 430px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {


  .container {
  }

  main.main {

    .hero-section {
      overflow: hidden;
      .container {

        .left-side {
          max-width: 390px;
        }

        .right-side {

        }
      }
    }

    .stairs {
      .container {

      }
      .stairs-content {
        .grid {
          top: 0;
          .grid-item {
            gap: 15px;
            &__title {
            }

            &__text {
            }

            .grid-item-list {
              &__item {

              }
            }
          }

          .grid-item-second {
          }

          .top-right {
          }

          .top-left {
            max-width: 370px;
          }
        }
      }
    }

    .events {
      .container {
        gap: 50px;
        .event-info {
          max-width: 100%;
          text-align: start;
        }

        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              gap: 16px;
            }
          }
        }
      }
    }

    .courses-home {
      padding-top: 60px;
      .container {
        gap: 50px;
        .our-courses__title {
          margin: 0;
        }


        .courses {
          .buttons-box {
            display: none;
          }

          .courses-list {
            margin: 0;
          }
        }
      }
    }
  }
}


@media (max-width: 600px) {

  main.main {


    .hero-section {
      overflow: visible;
      padding: 40px 0;

      &__hidden-content {
        display: none;
      }

      .container {
        position: relative;
        gap: 10px;

        .left-side {
          max-width: 100%;

          &__title {
            font-size: 2.25rem;
            line-height: 110%;
          }

          &__text {
            font-size: 0.875rem;
            line-height: 110%;
            margin-top: 20px;
            max-width: 245px;
            width: 100%;
          }

          &__button {
            margin-top: 30px;
          }
        }

        .right-side {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .events {
      padding: 40px 0;
      .container {
        gap: 30px;
        .event-info {
          gap: 15px;

          &__title {
            font-size: 1.5rem;
            line-height: 110%;
          }

          &__text {
            font-size: 0.875rem;
            line-height: 140%;
          }
        }

        .swiper {
          width: 100%;
          .swiper-wrapper {
            width: 100%;
            display: flex;
            .swiper-slide {
              border-radius: 30px;
              gap: 0;
              flex-direction: column;
              align-items: center;

              .card-info {
                display: flex;
                padding: 25px 20px 20px 20px;
                max-width: 100%;
                flex-direction: column;
                align-items: start;

                &__title {
                  margin-top: 20px;
                  font-size: 2rem;
                  line-height: 110%;
                }

                &__text {
                  font-size: 1.125rem;
                  line-height: 110%;
                }

                &__button {
                  margin-top: 20px;
                }

                img {
                  max-width: 91px;
                  max-height: 24.01px;
                  width: 100%;
                  height: 100%;
                }
              }


              .card-poster {
                display: flex;
                justify-content: center;
                max-height: 320px;
                height: 100%;
                width: 100%;

                .card-poster-img {
                  display: none;

                }

                .card-poster-img-adaptive {
                  display: flex;
                  height: 100%;
                  border-radius: 20px;
                  width: 100%;
                }
              }

            }
          }
        }
      }
    }

    .stairs {
      height: 637px;
      .container {

      }
      .stairs-content {
        .grid {
          top: 70px;
          .grid-item {
            gap: 15px;
            &__title {
              font-size: 1.5rem;
              line-height: 110%;
            }

            &__text {
              font-size: 0.875rem;
              line-height: 140%;
            }

            .grid-item-list {
              &__item {
                font-size: 0.875rem;
                line-height: 140%;
              }
            }
          }

          .grid-item-second {
            margin-top: 90px;
          }

          .top-right {
          }

          .top-left {
            max-width: 370px;
          }
        }

        .steps {
          height: 637px;

          .step {

          }

          .step-1 {
            left: -62px;
            top: calc(100% - 26.98%);
            height: 35.47%;
          }

          .step-2 {
            left: 9.38%;
            top: 65.17%;
            height: calc(14.74% + 6.26%);
          }

          .step-3 {
            left: calc(9.38% + 14.20%);
            top: 57.32%;
            height: 35.74%;
          }

          .step-4 {
            left: calc(23.58% + 14.20%);
            top: 49.47%;
            height: 50.48%;
          }

          .step-5 {
            left: calc(37.78% + 14.20%);
            top: 41.62%;
            height: 65.22%;
          }

          .step-6 {
            left: calc(51.98% + 14.20%);
            top: 33.7%;
            height: 79.96%;
          }

          .step-7 {
            left: calc(66.18% + 14.20%);
            top: 25.92%;
            height: 94.7%;
          }
        }
      }
    }

    .courses-home {
      padding: 40px 0;
      .container {
        gap: 30px;

        .courses {

          .courses-list {
            .courses-list-card {
              .courses-list-card-left-side {
                padding: 30px 20px 30px 20px;
              }
            }
          }

          &__more-text {
            margin-top: 50px;
          }
        }

        .our-courses__title {
          font-size: 1.5rem;
          line-height: 110%;
        }
      }
    }


  }
}

@media (max-width: 484px) {

  .container {
  }

  main.main {
    .stairs {
      .container {

      }
      .stairs-content {
        .grid {
          top: 10px;

          .grid-item-second {
            margin-top: 20px;
          }

          .top-left {
            max-width: 175px;
          }
        }

      }
    }
  }
}


@media (max-width: 414px) {

  .container {
  }

  main.main {
    .hero-section {

      .container {

        .left-side {
          &__button {
            margin-top: 30px;
            width: 100%;
          }
        }

        .right-side {
          position: absolute;
          top: 15%;
          right: -50px;

          img {
            max-width: 145px;
            max-height: 144px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {

  .container {
  }

  main.main {

  }
}