@import "./normalize.scss";
@import "./fonts.scss";

$primary-color: #191a1a;
$secondary-color: #fffcf8;
$blue-color: #0030f4;
$red-color: #f55000;
$orange-color: #f8b015;
$yellow-color: #f4e108;

$tablet: 900px;
$mobile: 500px;
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Proba Pro", sans-serif;
  overflow: auto;

  &.transition-disabled {
    * {
      transition: none !important;
    }
  }
}

a {
  text-decoration: none;
  appearance: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.content-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}

header.header {
  background-color: $primary-color;
  display: flex;
  width: 100%;

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;

    div {
      height: 1px;
      background-color: $secondary-color;
      border-radius: 1px;
    }

    div:nth-child(1) {
      width: 25px;
    }

    div:nth-child(2) {
      width: 20px;
    }

    div:nth-child(3) {
      width: 15px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-link {
    padding: 35.83px 0;
    cursor: pointer;
    display: block;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;

    .nav-list {
      display: flex;
      gap: 50px;
      align-items: center;

      &__item {
        font-size: 1rem;
        line-height: 17.6px;
        list-style: none;
        transition: 0.25s all;

        &:hover {
          font-weight: 700;
        }

        a {
          color: $secondary-color;
        }
      }
    }

    .button-container {
      &__button {
        font-size: 1rem;
        line-height: 17.6px;
        color: $secondary-color;
        background: transparent;
        padding: 14.5px 35px;
        border-radius: 300px;
        border: 1px solid $secondary-color;
        transition: 0.25s all;

        &:hover {
          background: $secondary-color;
          border-color: $secondary-color;
          color: $primary-color;
        }

        &.disabled {
          opacity: 40%;
        }
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  .back-button {
    align-self: flex-start;
    padding: 12.27px 9.66px 12.46px 9.27px;
    border-radius: 300px;
    border: 1px solid $secondary-color;
    background: transparent;
    cursor: pointer;
    transition: 0.25s all;

    &:hover {
      background-color: $secondary-color;
      img {
        filter: brightness(0) saturate(100%) invert(5%) sepia(5%) saturate(466%) hue-rotate(131deg) brightness(97%) contrast(88%);
      }
    }
  }

  .nav-menu {
    margin-top: 50px;

    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__item {
        line-height: 110%;
        transition: 0.25s all;

        &:hover {
          font-weight: 600;
        }

        a {
          font-size: 1.125rem;
        }
      }
    }
  }

  .footer-button {
    font-size: 1rem;
    line-height: 110%;
    color: $secondary-color;
    background: transparent;
    padding: 14.5px 35px;
    border-radius: 300px;
    margin-top: 30px;
    border: 1px solid $secondary-color;
    transition: 0.25s all;

    &:hover {
      background: $secondary-color;
      border-color: $secondary-color;
      color: $primary-color;
    }

    &.disabled {
      opacity: 40%;
    }
  }
}

main.main {
  flex: 1 1 auto;
  background: $secondary-color;

  .our-courses {
    padding-bottom: 90px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 110px;
    }

    &__title {
      margin-top: 110px;
      color: $primary-color;
      font-size: 3.375rem;
      line-height: 59.4px;
    }

    .courses {
      display: flex;
      flex-direction: column;

      .buttons-box {
        display: flex;
        gap: 25px;
        align-items: center;

        &__button {
          font-size: 1.5rem;
          line-height: 26.4px;
          text-align: center;
          border: 1px solid $primary-color;
          border-radius: 200px;
          padding: 15.5px 34px;
          background: transparent;
          transition: 0.25s all;

          &:hover {
            background: $blue-color;
            border-color: $secondary-color;
            color: $secondary-color;
          }

          &.disabled {
            opacity: 40%;
          }
        }
      }

      .courses-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;

        .courses-list-card {
          display: flex;
          border-radius: 50px;
          border: 1px solid $primary-color;
          gap: 80px;

          &:nth-child(2n) .courses-list-card-left-side {
            background: $blue-color;
          }

          .courses-list-card-left-side {
            max-width: 556px;
            width: 100%;
            padding: 50px;
            background: $primary-color;
            border-radius: 48.5px;

            &__number {
              font-size: 2.75rem;
              line-height: 48.4px;
              color: $secondary-color;
              font-weight: 400;
            }

            &__title {
              word-wrap: break-word;
              overflow-wrap: break-word;
              hyphens: auto;
              font-size: 3.375rem;
              line-height: 59.4px;
              font-weight: 700;
              color: $secondary-color;
              margin-top: 50px;
            }

            &__text {
              font-size: 1.5rem;
              line-height: 33.6px;
              color: $secondary-color;
              margin-top: 15px;
            }

            &__price {
              font-size: 2.75rem;
              line-height: 48.4px;
              color: $secondary-color;
              font-weight: 500;
              margin-top: 50px;
            }

            &__button {
              background: transparent;
              padding: 15px 35px;
              font-size: 1.125rem;
              line-height: 19.8px;
              text-align: center;
              transition: 0.25s all;
              margin-top: 65px;
              border-radius: 300px;
              border: 1px solid $secondary-color;

              a {
                color: $secondary-color;
                transition: 0.25s all;
              }

              &:hover {
                background: $secondary-color;
              }

              &:hover a {
                color: $primary-color;
              }

              &.disabled {
                opacity: 40%;
              }
            }
          }

          .courses-list-card-right-side {
            padding: 32px 32px 32px 0;
            display: flex;
            align-items: center;

            &__text {
              max-width: 537px;
              width: 100%;
              font-size: 1.5rem;
              line-height: 34px;
              color: $primary-color;
            }
          }
        }
      }

      .courses-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        .pagination-buttons {
          display: flex;
          gap: 30px;

          &__button {
            padding: 15.88px 12.5px 16.12px 12px;
            border-radius: 100px;
            border: 1px solid $primary-color;
            background: transparent;
            transition: 0.25s all;

            .button-arrow-icon {
              transition: 0.25s all;
            }

            &:hover {
              background: $blue-color;
              border-color: $blue-color;
            }

            &:hover .button-arrow-icon {
              filter: brightness(0) saturate(100%) invert(100%) sepia(59%)
                saturate(275%) hue-rotate(11deg) brightness(109%) contrast(101%);
            }

            &.disabled {
              opacity: 50%;
            }
          }

          &__button_prev {
            img {
              transform: rotate(180deg);
            }
          }

          .pagination-numbers {
            display: flex;
            gap: 10px;
            align-items: center;

            &__item {
              font-size: 1.125rem;
              line-height: 19.8px;
              color: rgba(25, 26, 26, 0.5);
              padding: 3px 0;

              &.active {
                color: $primary-color;
                font-size: 1.5rem;
                line-height: 26.4px;
                font-weight: 600;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .about-us-section {
    padding: 90px 0;
    background: $primary-color;

    .container {
      display: flex;
      justify-content: space-between;
      gap: 107.5px;
    }

    .about-us-info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: $secondary-color;

      &__title {
        font-size: 2.75rem;
        line-height: 48.4px;
        font-weight: 700;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 33.6px;
      }
    }

    &__img {
      max-width: 553.5px;
      width: 100%;
      max-height: 544.43px;
      height: 100%;
      border-radius: 50px;
      //aspect-ratio: 1;
    }

    &__img-adaptive {
      display: none;
    }
  }

  .conditions {
    padding: 90px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    &__title {
      text-transform: uppercase;
      font-size: 2.75rem;
      line-height: 48.4px;
      font-weight: 700;
      color: $primary-color;
    }

    .conditions-box {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 30px;

      .conditions-box-item {
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: $primary-color;
        border-radius: 25px;
        background: transparent;
        border: 1px solid $primary-color;
        transition: 0.25s all;
        cursor: pointer;

        &:hover {
          background-color: $blue-color;
          color: $secondary-color;
          border: 1px solid $secondary-color;
        }

        &:hover .item-line {
          border-top: 1px solid rgb(255, 252, 248);
        }

        .item-header-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__number {
            font-size: 2rem;
            line-height: 35.2px;
            font-weight: 300;
          }

          &__title {
            font-size: 2rem;
            line-height: 35.2px;
            font-weight: 600;
            padding-left: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
          }
        }

        &__line {
          border: none;
          border-top: 1px solid rgb(25, 26, 26);
          width: 100%;
        }

        &__text {
          font-size: 1.5rem;
          line-height: 33.6px;
        }
      }
    }
  }

  .questions {
    padding: 90px 0;
    background: $primary-color;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .questions__title {
      font-size: 2.75rem;
      line-height: 48.4px;
      font-weight: 700;
      color: $secondary-color;
    }

    .questions-box {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .questions-box-item {
        position: relative;
        padding: 15px 150px 15px 50px;
        border: 1px solid $secondary-color;
        border-radius: 40px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        transition: 0.25s all;
        cursor: pointer;

        &:hover {
          background: $secondary-color;
        }

        &:hover button {
          background: $primary-color;
        }

        &:hover button img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(59%)
            saturate(275%) hue-rotate(11deg) brightness(109%) contrast(101%);
        }

        &:hover .question {
          color: $primary-color;
        }

        &.active {
          border-radius: 40px;
        }

        &.active:hover {
          background: transparent;
        }

        &.active:hover .question {
          color: $secondary-color;
        }

        &.active:hover button {
          background: $secondary-color;
        }

        &.active:hover button img {
          filter: brightness(0) saturate(100%) invert(5%) sepia(5%)
            saturate(466%) hue-rotate(131deg) brightness(97%) contrast(88%);
        }

        &.active .answer {
          display: block;
          max-height: 500px;
          opacity: 1;
        }

        &.active button {
          bottom: 15px;
          top: auto;
          right: 30px;
        }

        &.active button img {
          transform: rotate(180deg);
        }

        &__question {
          display: flex;
          align-items: center;
          font-size: 2rem;
          line-height: 35.2px;
          font-weight: 600;
          color: $secondary-color;
        }

        &__answer {
          font-size: 1.5rem;
          line-height: 33.6px;
          color: $secondary-color;
          display: none;
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: 0.25s all;
        }

        &__button {
          position: absolute;
          right: 30px;
          top: 15.5px;
          padding: 9.66px 12.27px 9.27px 12.46px;
          background: $secondary-color;
          border-radius: 300px;
          border: 1px solid $primary-color;
          transition: 0.25s all;
        }
      }
    }
  }

  .speakers {
    padding: 90px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    &__title {
      font-size: 2.75rem;
      line-height: 48.4px;
      font-weight: 700;
      color: $primary-color;
    }

    .speakers-box {
      display: flex;
      gap: 30px;

      .speakers-box-item {
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-color;
        border-radius: 30px;
        background: transparent;
        overflow: hidden;

        &__img {
          max-width: 605px;
          max-height: 260px;
          height: 100%;
          width: 100%;
          border-radius: 30px 30px 0 0;
          object-fit: cover;
        }

        .speakers-item-info {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 30px 48px;
          color: $primary-color;

          &__title {
            font-size: 2rem;
            line-height: 35.2px;
            font-weight: 700;
          }

          &__text {
            font-size: 1.125rem;
            line-height: 25.2px;
          }
        }
      }
    }
  }

  .blog {
    padding: 90px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .blog-info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__title {
        font-size: 2.75rem;
        line-height: 48.4px;
        color: $primary-color;
        font-weight: 700;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 33.6px;
        color: $primary-color;
        max-width: 494px;
        width: 100%;
      }
    }

    .blog-box {
      display: flex;
      gap: 25px;

      .blog-box-item {
        position: relative;
        display: flex;
        border: 1px solid $primary-color;
        border-radius: 30px;
        flex-direction: column;
        max-width: 397px;
        overflow: hidden;

        &:hover {
          background: #f1eeec;
          opacity: 95%;
        }

        .blog-box-item-image {
          position: relative;
          border-radius: 30px 30px 0 0;

          &__img {
            border-radius: 30px 30px 0 0;
            height: calc(100% + 2px);
            margin-top: -2px;
            width: calc(100% + 2px);
            margin-left: -1px;
          }

          &__field {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 14px;
            left: 23px;
            position: absolute;
            padding: 5px 20px;
            font-size: 1rem;
            font-weight: 700;
            line-height: calc(2 * 0.5px + 110%);
            color: $primary-color;
            background-color: $secondary-color;
            border-radius: 24px;
          }
        }

        .blog-box-info {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 20px 25px 30px 25px;

          &__title {
            font-size: 2rem;
            line-height: 35.2px;
            font-weight: 700;
            color: $primary-color;
          }

          &__text {
            font-size: 1.125rem;
            line-height: 25.2px;
            color: $primary-color;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
    }

    .more-text {
      cursor: pointer;
      font-weight: 500;
      align-self: center;
      font-size: 1.5rem;
      line-height: 33.6px;
      color: $primary-color;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-underline: 1px solid $primary-color;
        text-decoration-skip-ink: none;
      }

      &.disabled {
        opacity: 40%;
      }
    }
  }

  .conditions {
    padding: 90px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .conditions__title {
      font-size: 2.75rem;
      line-height: 48.4px;
      font-weight: 700;
      color: $primary-color;
    }

    .conditions-box {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 30px;
      align-items: baseline;

      .conditions-box-item {
        padding: 40px 50px 40px 50px;
        border: 1px solid $primary-color;
        border-radius: 25px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        transition: 0.25s all;
        cursor: pointer;

        &:hover {
          border-color: $blue-color;
          background: $blue-color;
        }

        &:hover .question {
          span, h3 {
            color: $secondary-color;
          }
        }

        &.active {
          background: $blue-color;
          border-color: $blue-color;
          border-radius: 25px;
        }

        &.active .question {
          span, h3 {
            color: $secondary-color;
          }
        }

        &.active .answer {
          display: block;
          max-height: 500px;
          opacity: 1;
        }

        &__question {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        &__question-title {
          font-size: 2rem;
          line-height: 35.2px;
          font-weight: 600;
          color: $primary-color;
          gap: 20px;
        }

        &__question-number {
          font-size: 2rem;
          line-height: 35.2px;
          font-weight: 300;
        }


        &__answer {
          padding-top: 15px;
          font-size: 1.5rem;
          line-height: 33.6px;
          color: $secondary-color;
          display: none;
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: 0.25s all;
          border-top: 1px solid $secondary-color;
        }
      }
    }
  }

  .faq {
    padding: 90px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .faq__title {
      font-size: 2.75rem;
      line-height: 48.4px;
      font-weight: 700;
      color: $primary-color;
    }

    .faq-box {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 30px;
      align-items: baseline;

      .faq-box-item {
        padding: 40px 50px 40px 50px;
        border: 1px solid $primary-color;
        border-radius: 25px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        transition: 0.25s all;
        cursor: pointer;

        &:hover {
          border-color: $blue-color;
          background: $blue-color;
        }

        &:hover .question {
          color: $secondary-color;
        }

        &.active {
          background: $blue-color;
          border-color: $blue-color;
          border-radius: 25px;
        }

        &.active .question {
          color: $secondary-color;
        }

        &.active .answer {
          display: block;
          max-height: 500px;
          opacity: 1;
        }

        &__question {
          display: flex;
          align-items: center;
          font-size: 2rem;
          line-height: 35.2px;
          font-weight: 600;
          color: $primary-color;
        }

        &__answer {
          padding-top: 15px;
          font-size: 1.5rem;
          line-height: 33.6px;
          color: $secondary-color;
          display: none;
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: 0.25s all;
          border-top: 1px solid $secondary-color;
        }
      }
    }
  }

  .reservation {
    padding: 90px 0;

    .container {
      text-align: center;
    }

    &__title {
      font-weight: 500;
      font-size: 3.375rem;
      line-height: 48.4px;
      color: $primary-color;
      text-transform: uppercase;
      text-align: center;
    }

    &__text {
      margin-top: 50px;
      font-size: 2rem;
      line-height: 35.2px;
      font-weight: 400;
      color: $primary-color;

      span {
        margin: 0 36px 0 36px;
        color: $blue-color;
        font-size: 3.5rem;
        line-height: 61.6px;
        font-weight: 700;
      }
    }

    &__button {
      margin-top: 50px;
      background: transparent;
      padding: 15px 35px;
      font-size: 1.125rem;
      line-height: 19.8px;
      text-align: center;
      transition: 0.25s all;
      border-radius: 300px;
      border: 1px solid $primary-color;

      a {
        color: $primary-color;
      }

      &:hover {
        background: $blue-color;
        border-color: $blue-color;
      }

      &:hover a {
        color: $secondary-color;
      }

      &.disabled {
        opacity: 40%;
      }
    }
  }

  .contact-us {
    padding: 90px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    .contacts-left-side {
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: $primary-color;
      max-width: 375px;

      &__title {
        font-size: 3.375rem;
        line-height: 59.4px;
        font-weight: bold;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 33.6px;
      }
    }

    .contacts-right-side {
      border: 1px solid $primary-color;
      padding: 40px 30px;
      border-radius: 25px;
      max-width: 736px;
      width: 100%;

      .contacts-form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          outline: none;
          border: none;
        }

        &__item {
          width: 100%;
          padding: 17px 20px;
          border: none;
          border-bottom: 1px solid $primary-color;
          background: transparent;
          color: rgba(25, 26, 26, 0.5);
          font-size: 1.5rem;
          line-height: 33.6px;
          outline: none;
        }

        textarea {
          resize: none;
        }

        &__button {
          outline: none;
          color: $primary-color;
          background: transparent;
          border: 1px solid $primary-color;
          cursor: pointer;
          padding: 15px 0;
          font-size: 1.125rem;
          line-height: 19.8px;
          border-radius: 300px;
          margin-top: 20px;
          transition: 0.25s all;

          &:hover {
            background: $blue-color;
            color: $secondary-color;
            border-color: $secondary-color;
          }

          &.disabled {
            opacity: 40%;
          }
        }
      }
    }
  }

  .newsletter {
    padding: 90px 0;
    background: $blue-color;

    .container {
      display: flex;
      justify-content: space-between;
    }

    .newsletter-box {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;

      &__title {
        font-size: 3.375rem;
        line-height: 59.4px;
        font-weight: bold;
        color: $secondary-color;
        max-width: 426px;
        width: 100%;
      }

      &__button-form {
        display: none;
        margin-top: 15px;
        font-size: 1.125rem;
        color: $secondary-color;
        line-height: 110%;
        padding: 15px 0;
        outline: none;
        border: 1px solid $secondary-color;
        cursor: pointer;
        background: transparent;
        border-radius: 300px;
        transition: 0.25s all;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        &:hover {
          background: $secondary-color;
          border-color: $secondary-color;
          color: $primary-color;
        }

        &.disabled {
          opacity: 40%;
        }
      }

      .newsletter-form {
        display: flex;
        align-items: center;
        border-radius: 66px;
        background: $secondary-color;
        padding: 10px 10px 10px 50px;
        justify-content: space-between;
        max-width: 737px;
        width: 100%;

        label {
          border: none;
          outline: none;
        }

        &__email {
          font-size: 1.5rem;
          color: rgba(25, 26, 26, 0.5);
          line-height: 33.6px;
          outline: none;
          border: none;
          background: transparent;
        }

        &__button {
          font-size: 1.125rem;
          color: $primary-color;
          line-height: 19.8px;
          padding: 15px 35px;
          outline: none;
          border: 1px solid $primary-color;
          cursor: pointer;
          background: transparent;
          border-radius: 300px;
          transition: 0.25s all;

          &:hover {
            background: $blue-color;
            border-color: $secondary-color;
            color: $secondary-color;
          }

          &.disabled {
            opacity: 40%;
          }
        }
      }
    }
  }
}

footer.footer {
  background-color: $primary-color;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 60px 40px 50px 40px;
    gap: 41px;
  }

  .top-footer {
    display: flex;
    justify-content: space-between;

    .right-side {
      display: flex;
      gap: 120px;
      max-width: 379px;
      width: 100%;

      .footer-nav-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .nav-menu {
          display: flex;

          .nav-list {
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__item {
              font-size: 1rem;
              line-height: 17.6px;
              list-style: none;
              transition: 0.25s all;

              &:hover {
                font-weight: 700;
              }

              a {
                color: $secondary-color;
              }
            }
          }
        }

        .social-links {
          display: flex;
          gap: 20px;

          &__item {
            display: block;
          }
        }
      }

      .footer-contacts {
        display: flex;
        gap: 20px;
        color: $secondary-color;
        flex-direction: column;

        &__title {
          font-size: 1rem;
          font-weight: bold;
          line-height: 17.6px;
        }

        .contacts-list {
          display: flex;
          flex-direction: column;
          gap: 20px;

          a {
            font-size: 1rem;
            line-height: 17.6px;
            transition: 0.25s all;

            &:hover {
              font-weight: 700;
            }

            &:first-child {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .bottom-footer {
    display: flex;
    flex-direction: column;
    gap: 35px;

    &__line {
      border: none;
      border-top: 1px solid rgba(255, 252, 248, 0.2);
      width: 100%;
    }

    .bottom-footer-links {
      display: flex;
      gap: 15px;
      justify-content: end;
      align-items: center;

      &__link {
        font-size: 0.75rem;
        line-height: 13.2px;
        color: $secondary-color;
        transition: 0.25s all;

        &:hover {
          font-weight: 700;
        }
      }

      &__separator {
        color: $secondary-color;
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 1280px) {
  main.main {
    .about-us-section {
      .container {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .contact-us {
      .contacts-left-side {
        max-width: 100%;
        gap: 15px;
        text-align: center;
      }
      .container {
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}

@media (max-width: 1024px) {
  header.header {
    .container {
      .logo-link {
        img {
          max-width: 88px;
          width: 100%;
          max-height: 19.48px;
          height: 100%;
        }
      }

      .nav-menu {
        gap: 54.5px;
        .nav-list {
          gap: 20px;
          &__item {
            font-size: 0.875rem;
            line-height: 110%;
          }
        }
      }
    }
  }

  main.main {
    .blog {
      padding: 60px 0;

      .container {
        .blog-info {
          gap: 15px;
        }

        .blog-box {
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          .blog-box-item {
          }
        }
      }
    }

    .our-courses {
      padding-bottom: 90px;

      .container {
        display: flex;
        flex-direction: column;
        gap: 80px;

        .courses {
          .courses-list {
            width: 100%;
            .courses-list-card {
              flex-direction: column;
              gap: 30px;

              .courses-list-card-left-side {
                max-width: 100%;

                &__button {
                  width: 100%;
                }
              }

              .courses-list-card-right-side {
                align-items: center;
                justify-content: center;
                padding: 0 16px 50px 16px;
              }
            }
          }
        }
      }
    }

    .conditions {
      .container {
        .conditions-box {
          grid-template-columns: 1fr;
          place-items: center;
          max-width: 100%;
          padding: 0;

          .conditions-box-item {
            max-width: 100%;

            .item-header-container {
              gap: 20px;

              &__number {
                font-size: 2rem;
                line-height: 110%;
              }

              &__title {
                padding: 0;
                font-size: 2rem;
                line-height: 110%;
              }
            }

            &__text {
              font-size: 1.5rem;
              line-height: 140%;
            }
          }
        }
      }
    }

    .speakers {
      .container {
        .speakers-box {
          max-width: 100%;
          flex-direction: column;
          gap: 30px;

          .speakers-box-item {
            &__img {
              max-width: 100%;
            }
          }
        }
      }
    }

    .faq {
      padding: 60px 0;

      .container {
        .faq-box {
          grid-template-columns: 1fr;
          gap: 30px;
        }
      }
    }

    .newsletter {
      .container {
        align-items: start;
        justify-content: center;
      }

      .newsletter-box {
        gap: 30px;
        text-align: center;
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 781px) {
  header.header {
    .container {
      .nav-menu {
        display: flex;
      }

      .hamburger {
        display: none;
      }
    }
  }

  .menu {
    &.open {
      transform: translateX(-100%);
    }
  }
}

@media (max-width: 780px) {
  header.header {
    .container {
      .logo-link {
        img {
          max-width: 88px;
          width: 100%;
          max-height: 19.48px;
          height: 100%;
        }
      }

      .nav-menu {
        display: none;
        gap: 10px;
        .button-container {
        }
      }
    }

    .hamburger {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }

  header.header {
  }

  main.main {
    .blog {
      padding: 60px 0;

      .container {
        .blog-info {
        }

        .blog-box {
          flex-direction: column;

          .blog-box-item {
            max-width: 100%;
            .blog-box-info {
              &__text {
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    .questions {
      padding: 60px 0;

      .container {
        .questions-box {
          .questions-box-item {
            &.active button {
              bottom: 15px;
            }
          }
        }
      }
    }

    .about-us-section {
      padding: 60px 0;

      .container {
        .about-us-info {
          gap: 15px;
        }
      }

      &__img-adaptive {
        display: flex;
        border-radius: 45px;
        max-width: 688px;
        max-height: 350px;
        width: 100%;
        height: 100%;
      }

      &__img {
        display: none;
      }
    }

    .speakers {
      padding: 60px 0;

      .container {
        .speakers-box {
        }
      }
    }

    .reservation{
      padding: 60px 0;

      &__title {
        font-size: 2.75rem;
        line-height: 110%;
      }

      .container {
        gap: 50px;
      }
    }

    .contact-us {
      padding: 60px 0;

      .contacts-left-side {
        gap: 15px;
        text-align: start;
      }
      .container {
        align-items: start;
        flex-direction: column;
        gap: 30px;
      }
    }

    .newsletter {
      padding: 60px 0;

      .container {
        align-items: center;
        justify-content: center;

        .newsletter-box {
          gap: 30px;
          text-align: start;
          align-items: start;
        }
      }
    }
  }

  footer.footer {

    .container {
      gap: 30px;
    }

    .top-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .right-side {
        gap: 30px;
        width: auto;
      }
    }

    .bottom-footer {
      align-items: center;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 20px;
  }

  main.main {
    .blog {
      padding: 40px 0;

      .container {
        gap: 30px;
        .blog-info {
          &__title {
            font-size: 1.5rem;
            line-height: 110%;
          }

          &__text {
            font-size: 0.875rem;
            line-height: 140%;
          }
        }

        .blog-box {
          .blog-box-item {
            .blog-box-info {
              padding: 30px 20px 30px 20px;
              &__title {
                font-size: 1.125rem;
                line-height: 110%;
              }

              &__text {
                font-size: 0.875rem;
                line-height: 140%;
              }
            }
          }
        }

        .more-text {
        }
      }
    }

    .questions {
      padding: 40px 0;

      .questions__title {
        font-size: 1.5rem;
        line-height: 110%;
      }

      .container {
        gap: 30px;

        .questions-box {
          gap: 15px;

          .questions-box-item {
            gap: 10px;
            border-radius: 20px;
            padding: 17px 0 20px 17px;

            &__question {
              width: 80%;
              font-size: 1.125rem;
              line-height: 110%;
            }

            .item-question-container {
              width: 80%;
              gap: 10px;

              &__number {
                font-size: 1.125rem;
                line-height: 110%;
              }

              &__question {
                font-size: 1.125rem;
                line-height: 110%;
              }
            }

            &.active button {
              bottom: 10px;
              right: 10px;
            }

            &__answer {
              font-size: 0.875rem;
              line-height: 140%;
              width: 90%;
            }

            &__button {
              padding: 9.27px 12.27px 9.66px 12.46px;
              top: 15px;
              right: 15px;
              img {
                max-height: 9.27px;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .our-courses {
      padding-bottom: 40px;

      &__title {
        font-size: 2.25rem;
        line-height: 110%;
      }

      .container {
        gap: 30px;

        .courses {
          
          .buttons-box {
            gap: 15px;
          }
          
          .courses-list {
            .courses-list-card {
              gap: 20px;
              border-radius: 30px;

              .courses-list-card-left-side {
                padding: 30px 20px;
                border-radius: 28px;
                max-width: 100%;

                &__number {
                  font-size: 2rem;
                  line-height: 110%;
                }

                &__title,
                &__price {
                  font-size: 2rem;
                  margin-top: 20px;
                  line-height: 110%;
                }

                &__text {
                  font-size: 1.125rem;
                  line-height: 140%;
                  margin-top: 10px;
                }

                &__button {
                  margin-top: 20px;
                }
              }

              .courses-list-card-right-side {
                align-items: center;
                justify-content: center;
                padding-bottom: 30px;

                &__text {
                  font-size: 0.875rem;
                  line-height: 140%;
                }
              }
            }
          }

          .courses-pagination {
            margin-top: 30px;

            .pagination-buttons {
              button {
                padding: 12.27px 9.27px 12.46px 9.66px;
                img {
                  max-width: 15.07px;
                  max-height: 9.27px;
                }
              }
            }
          }
        }
      }
    }

    .about-us-section {
      padding: 40px 0;

      .container {
        gap: 30px;

        .about-us-info {
          gap: 15px;

          &__title {
            font-size: 1.5rem;
            line-height: 110%;
          }

          &__text {
            font-size: 0.875rem;
            line-height: 140%;
          }
        }
      }

      &__img-adaptive {
        display: flex;
        border-radius: 45px;
        max-width: 688px;
        max-height: 350px;
        width: 100%;
        height: 100%;
      }

      &__img {
        display: none;
      }
    }

    .reservation {
      padding: 40px 0;

      &__title {
        font-size: 2rem;
        line-height: 110%;
      }

      &__text {
        margin-top: 30px;
        font-size: 1.5rem;
        line-height: 110%;

        span  {
          font-size: 2.25rem;
          line-height: 110%;
          margin: 0 19px 0 19px !important;
        }
      }

      &__button {
        margin-top: 30px;
        width: 100%;
      }

      .container {

      }
    }

    .conditions {



      padding: 40px 0;

      .container {
        gap: 30px;

        .conditions-title {
          font-size: 1.5rem;
          line-height: 110%;
        }

        .conditions-box {
          gap: 15px;
          .conditions-box-item {
            padding: 20px;

            .item-header-container {

            }

            &__question {
              gap: 10px;
            }

            &__question-number {
              font-size: 1.125rem;
              line-height: 110%;
            }

            &__question-title {
              padding: 0;
              font-size: 1.125rem;
              line-height: 110%;
            }

            &__answer {
              font-size: 0.875rem;
              line-height: 140%;
            }
          }
        }
      }

    }

    .faq {
      padding: 40px 0;


      .container {
        gap: 30px;

        .questions-title {
          font-size: 1.5rem;
          line-height: 110%;
        }

        .faq-box {
          gap: 15px;
          .faq-box-item {
            padding: 20px;
            border-radius: 20px;

            &__question {
              font-size: 1.125rem;
              line-height: 110%;
            }

            &__answer {
              font-size: 0.875rem;
              line-height: 140%;
            }
          }
        }
      }
    }

    .newsletter {
      padding: 40px 0;

      .container {
        align-items: center;
        justify-content: center;

        .newsletter-box {
          gap: 0;

          &__button-form {
            display: flex;
          }

          &__title {
            font-size: 2.25rem;
            line-height: 110%;
          }

          .newsletter-form {
            padding: 10px 10px 10px 20px;
            margin-top: 30px;

            &__button {
              display: none;
            }

            label {
              border: none;
              outline: none;
            }

            &__email {
              font-size: 0.875rem;
              color: rgba(25, 26, 26, 0.5);
              line-height: 140%;
              outline: none;
              border: none;
              background: transparent;
            }

            &__button {
              display: none;
            }
          }
        }
      }
    }
  }

  footer.footer {
    padding: 40px 0;
    .container {
      padding: 0 40px;
      gap: 35px;
      align-items: center;
    }

    .top-footer {
      display: flex;
      justify-content: space-between;
      gap: 70px;
      flex-direction: column;
      align-items: start;

      .left-side {
        .logo-container {
          img {
            max-width: 135px;
            max-height: 35.62px;
            width: 100%;
            height: 100%;
          }
        }
      }

      .right-side {
        gap: 77px;
        width: auto;

        .footer-contacts {
          &__title {
            font-size: 0.875rem;
            line-height: 110%;
          }

          .contacts-list {
            a {
              font-size: 0.875rem;
            }
          }
        }
      }
    }

    .bottom-footer {
      align-items: center;
      gap: 35px;

      .bottom-footer-links {
        gap: 9px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        span {
          line-height: 110%;
          font-size: 0.6875rem;
        }

        a {
          line-height: 110%;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .container {
    max-width: 360px;
    padding: 0 20px;
  }

  header.header {
    .container {
      .logo-link {
        img {
          max-width: 73px;
          width: 100%;
          max-height: 16.16px;
          height: 100%;
        }
      }

      .nav-menu {
        display: none;
      }
    }

    .hamburger {
      display: flex;
    }
  }

  main.main {
    .about-us-section {
      &__img-adaptive {
        border-radius: 20px;
      }
    }

    .speakers {
      padding: 40px 0;

      &__title {
        font-size: 1.5rem;
        line-height: 110%;
      }

      .container {
        gap: 30px;
        .speakers-box {
          .speakers-box-item {
            &__img {
              max-height: 100%;
            }

            gap: 30px;
            .speakers-item-info {
              padding: 0 20px 30px 20px;
              gap: 15px;
              &__title {
                font-size: 1.5rem;
                line-height: 110%;
              }

              &__text {
                font-size: 0.875rem;
                line-height: 140%;
              }
            }
          }
        }
      }
    }

    .contact-us {
      padding: 40px 0;

      .contacts-left-side {
        border-radius: 30px;

        &__title {
          font-size: 2.25rem;
          line-height: 110%;
        }

        &__text {
          max-width: 245px;
          width: 100%;
          font-size: 0.875rem;
          line-height: 140%;
        }
      }

      .contacts-right-side {
        padding: 30px 20px;
        .contacts-form {
          &__item {
            font-size: 0.875rem;
            line-height: 140%;
            padding: 15px 0 15px 15px;
          }
        }
      }
      .container {
      }
    }

    .conditions {
      padding: 40px 0;

      &__title {
        font-size: 1.5rem;
        line-height: 110%;
      }

      .container {
        gap: 30px;
        .conditions-box {
          gap: 15px;
          .conditions-box-item {
            padding: 20px;
            gap: 15px;

            .item-header-container {
              gap: 10px;

              &__number {
                font-size: 1.125rem;
                line-height: 110%;
              }

              &__title {
                padding: 0;
                font-size: 1.125rem;
                line-height: 110%;
              }
            }

            &__text {
              font-size: 0.875rem;
              line-height: 140%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .container {
  }

  main.main {
    .contact-us {
      padding: 40px 0;

      .contacts-left-side {
        gap: 10px;
        max-width: 100%;
      }

      .contacts-right-side {
        .contacts-form {
          &__item {
            font-size: 0.875rem;
            line-height: 140%;
          }
        }
      }
      .container {
      }
    }


  }

  footer.footer {
    padding: 40px 0;

    .container {
      padding: 0 20px;
    }
  }
}

//@media (max-width: 1280px) {
//  main.main {
//
//  }
//}
//
//@media (max-width: 1024px) {
//
//  main.main {
//
//  }
//}
//
//@media (max-width: 740px) {
//
//}
//
//@media (max-width: 768px) {
//
//  .container {
//
//  }
//
//
//  main.main {
//
//  }
//
//}
//
//
//@media (max-width: 600px) {
//
//
//  main.main {
//
//  }
//
//}
//
//@media (max-width: 414px) {
//
//  .container {
//
//  }
//
//
//  main.main {
//
//  }
//}
//
//@media (max-width: 360px) {
//
//  .container {
//  }
//
//  main.main {
//
//  }
//
//}

@import "./about.scss";
@import "./all-courses.scss";
@import "./blogs.scss";
@import "./event.scss";
@import "./course.scss";
@import "./article.scss";
@import "./index.scss";
