@import "./normalize.scss";
@import "./fonts.scss";

$primary-color: #191a1a;
$secondary-color: #fffcf8;
$blue-color: #0030f4;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Proba Pro", sans-serif;
  overflow: auto;
}

a {
  text-decoration: none;
  appearance: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.content-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1614px;
  margin: 0 auto;
  padding: 0 32px;
}

header.header {
  background-color: $primary-color;
  display: flex;
  width: 100%;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-container {
    padding: 32px 0;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;

    .nav-list {
      display: flex;
      gap: 50px;
      align-items: center;

      &__item {
        font-size: 1.125rem;
        line-height: 24px;
        list-style: none;

        a {
          color: $secondary-color;
        }
      }
    }

    .button-container {
      &__button {
        font-size: 1.125rem;
        line-height: 24px;
        color: $secondary-color;
        background: transparent;
        padding: 10px 35px;
        border-radius: 300px;
        border: 1px solid $secondary-color;
      }
    }
  }
}

main.main {
  flex: 1 1 auto;
  background: $secondary-color;

  .contact-us {
    padding: 71px 0 79px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    .contacts-left-side {
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: $primary-color;

      &__title {
        font-size: 3.5rem;
        line-height: 66px;
        font-weight: bold;
      }

      &__text {
        font-size: 2rem;
        line-height: 44px;
      }
    }

    .contacts-right-side {
      border: 1px solid $primary-color;
      padding: 28.5px 32px;
      border-radius: 25px;
      max-width: 736px;
      width: 100%;

      .contacts-form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          outline: none;
          border: none;
        }

        &__item {
          width: 100%;
          padding: 17px 20px;
          border: none;
          border-bottom: 1px solid $primary-color;
          background: transparent;
          color: rgba(25, 26, 26, 0.5);
          font-size: 1.75rem;
          line-height: 140%;
          outline: none;
        }

        textarea {
          resize: none;
        }

        &__button {
          outline: none;
          color: $primary-color;
          background: transparent;
          border: 1px solid $primary-color;
          cursor: pointer;
          padding: 10px 0;
          font-size: 1.5rem;
          line-height: 34px;
          border-radius: 300px;
          margin-top: 20px;
        }
      }
    }
  }

  .newsletter {
    padding: 107px 0;
    background: $blue-color;

    .container {
      display: flex;
      justify-content: space-between;
    }

    .newsletter-box {
      display: flex;
      align-items: center;
      gap: 152px;

      &__title {
        font-size: 3.5rem;
        line-height: 66px;
        font-weight: bold;
        color: $secondary-color;
      }

      .newsletter-form {
        display: flex;
        border-radius: 66px;
        background: $secondary-color;
        padding: 26px 30px 26px 80px;
        justify-content: space-between;
        max-width: 772px;
        width: 100%;

        label {
          outline: none;
          border: none;
        }

        &__email {
          font-size: 2rem;
          color: rgba(25, 26, 26, 0.5);
          line-height: 44px;
          outline: none;
          border: none;
          background: transparent;
        }

        &__button {
          font-size: 1.125rem;
          color: $primary-color;
          line-height: 24px;
          padding: 10px 35px;
          outline: none;
          border: 1px solid $primary-color;
          cursor: pointer;
          background: transparent;
          border-radius: 300px;
        }
      }
    }
  }
}

footer.footer {
  background-color: $primary-color;

  .container {
    display: flex;
    margin-top: 60px;
    padding-bottom: 66px;
    justify-content: space-between;
  }

  .right-side {
    display: flex;
    gap: 120px;

    .footer-nav-menu {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .nav-menu {
        display: flex;

        .nav-list {
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 16px;

          &__item {
            font-size: 1rem;
            line-height: 24px;
            list-style: none;

            a {
              color: $secondary-color;
            }
          }
        }
      }

      .social-links {
        display: flex;
        gap: 24px;

        &__item {
          display: block;
        }
      }
    }

    .footer-contacts {
      display: flex;
      gap: 24px;
      color: $secondary-color;
      flex-direction: column;

      &__title {
        font-size: 1rem;
        font-weight: bold;
      }

      .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          &:first-child {
            text-transform: uppercase;
          }
        }
      }


    }
  }
}

@media (max-width: 1440px) {
  main.main {
    .contact-us {
      .container {
        gap: 50px;
      }
    }
  }
}

@media (max-width: 1280px) {
  main.main {
    .contact-us {
      .contacts-left-side {
        text-align: center;
      }
      .container {
        flex-direction: column;
        gap: 100px;
      }
    }
  }
}

@import "./index.scss";
@import "./about.scss";
